header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    color: #0c44ed;
    text-align: center;
    font-size: large;
    font-family: 'Raleway', sans-serif;
}
#contatos {
    background-color: #0c44ed;
    float: left;
    width: 55% ;
    min-height: 453px;
}
p {
    background-color: #0c44ed;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
}
#formulario {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: #0c44ed;
    float: right;
    width: 40%;
    height: 413px;
    border-color:whitesmoke;
    border-radius: 20px;
    border-width: 10px;
    justify-content: center;
}
label {
    padding-top: 40px;
    padding-bottom: 40px;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}
footer {
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    color: #0c44ed;
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

.link{
    color: whitesmoke;
}
.link:hover {
    color: #81d1fc;
}
.container {
    margin: auto;
    width: 960px;
    background-color: whitesmoke;
}